@import "../../themes/styles/variables/dimens.css";
@import "../../themes/styles/variables/colors.css";

.example-project-wb {
  display: flex;
  flex-direction: row;
  margin: calc(var(--vertical-spacing) * 6) 0;
}

.example-project-wb__left-section {
  margin-right: calc(var(--horizontal-spacing) * 2);
}

.example-project-wb__right-section {
  flex: 1;
}

.example-project-wb__logo {
  max-height: var(--primary-header-feature-icon-size);
  max-width: var(--primary-header-feature-icon-size);
}

.example-project-wb__src-link {
  background: none;
  color: var(--btn-bg-color);
}
