.nav-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--header-bg);
}

.menu-btn svg {
  fill: var(--nav-selected-color);
}

.menu-close-btn svg {
  fill: var(--menu-close-btn-color);
}

.nav-drawer__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid;
  border-bottom-width: 1px;
  border-bottom-color: var(--hr-color);
  margin: 0 calc(var(--horizontal-spacing) * 2);
}

.nav-drawer__wb-logo {
  height: calc(var(--horizontal-spacing) * 4);
}

.nav-content nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 240px;
  height: 100%;
  background-color: var(--mobile-nav-bg-color);
  z-index: var(--z-index-navdrawer);
  will-change: transform;
  transform: translateX(-240px);
  transition: transform 0.4s ease-in-out;
  overflow-y: auto;
}

.nav-content li.has-drop-down .drop-down-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-content li.has-drop-down .drop-down-btn:after {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background-image: url('../../images/down-arrow.min.svg');
  background-repeat: no-repeat;
  background-size: contain;
  will-change: transform;
}

.nav-content li.has-drop-down .drop-down-btn.is-dropped-down:after {
  transform: rotateZ(180deg);
}

.nav-content nav.is-open {
  transform: translateX(0);
  pointer-events: all;
  touch-action: none;
}

.nav-content ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

.svg-btn.menu-close-btn {
  padding: calc(var(--vertical-spacing) * 2.5) 0;
}

.nav-content a {
  padding: calc(var(--vertical-spacing) * 2.5) calc(var(--horizontal-spacing) * 2);
}

.nav-content a {
  display: block;
  text-transform: uppercase;
  font-size: var(--navigation-font-size-mobile);
  font-weight: 700;
  color: var(--dark-grey);
  text-decoration: none;
}

.nav-backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--nav-backdrop-color);
  z-index: var(--z-index-backdrop);
  opacity: 0;
  will-change: opacity;
  pointer-events: none;
  transition: opacity 0.4s ease-in-out;
}

.nav-backdrop.is-open {
  opacity: 1;
  pointer-events: all;
  touch-action: none;
}

@media (min-width: 700px) {
  .nav-drawer__header {
    display: none;
  }

  .nav-content .drop-down-container {
    display: none;
  }

  .menu-btn {
    display: none;
  }

  .nav-content {
    padding: 0 calc(var(--horizontal-spacing) * 4);
  }

  .nav-content nav {
    position: relative;
    background: none;
    width: auto;
    min-width: auto;
    transform: none;
  }

  .nav-content ul {
    flex-direction: row;
    justify-content: flex-end;
  }

  .nav-content a {
    display: inline-block;
    color: var(--nav-unselected-color);
    font-size: var(--navigation-font-size-desktop);
  }

  .nav-content li.current-section a {
    color: var(--nav-selected-color);
  }

  .nav-content a:hover {
    color: var(--nav-hover-color);
  }

  .nav-backdrop {
    display: none;
  }
}
