@import "../themes/styles/variables/dimens.css";
@import "../themes/styles/variables/colors.css";
@import "./components/example-project-using-workbox.css";

#content-and-messages {
  display: flex;
}

#content {
  margin-right: var(--pre-vertical-padding);
}

#example-log {
  background-color: var(--code-bg-color);
  font-size: var(--example-log-font-size);
  height: 50vh;
  width: 30vw;
  list-style: none;
  padding: var(--pre-vertical-padding);
  overflow: auto;
}

#example-log > li {
  color: white;
  margin: var(--vertical-spacing);
}

#example-log > li.warn {
  font-weight: bold;
}

.example-index__lower-level-modules-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.example-index__lower-level-modules-list li {
  margin: calc(var(--vertical-spacing) * 6) 0;
  padding-top: var(--vertical-spacing);
  padding-bottom: calc(var(--vertical-spacing) + 8px);
  padding-left: calc(var(--horizontal-spacing) * 2);
  border-left-style: solid;
  border-color: var(--btn-bg-color);
}

@media (max-width: 700px) {
  #content-and-messages {
    flex-direction: column;
  }

  #example-log {
    width: auto;
  }
}
