@import "../themes/styles/variables/dimens.css";
@import "../themes/styles/variables/colors.css";
@import "./variables/colors.css";

.index__install-options {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: calc(var(--vertical-spacing) * 2);
}

.index__install-option {
  display: flex;
  width: 100%;

  justify-content: center;
  align-items: center;

  padding: 32px 32px;
  box-sizing: border-box;
}

.index__install-option img {
  width: 100%;
}

.index__install-webpack {
  background-color: black;
}

.index__install-gulp {
  background-color: var(--gulp-bg-color);
  margin: calc(var(--horizontal-spacing)) 0;
}

.index__install-npm {
  background-color: var(--npm-bg-color);
}

.index__install-section {
  background-color: var(--dark-grey);
  color: white;
  padding-top: var(--main-content-vertical-spacing);
  padding-bottom: var(--main-content-vertical-spacing);
}

.index__install-section > *:last-child {
  margin-bottom: 0;
}

.index__install-section h1 {
  color: var(--workbox-orange);
}

.index__install-section h2 {
  color: var(--hr-color);
}

.index__features {
  display: flex;
  flex-direction: column;
}

.index__features-left-section, .index__features-right-section {
  width: 100%;
}

.index__features-left-section img {
  max-width: 100%;
  width: 100%;
}

.index_strategy-list {
  margin-bottom: var(--p-margin);
}

.index_strategy-list ul {
  display: flex;
  flex: column;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.index_strategy-list ul li {
  width: 100%;
  font-style: italic;
  font-size: 16px;
}

.index_strategy-list ul li:before {
  content: '- ';
}

@media (min-width: 700px) {
  .index__install-options {
    flex-direction: row;
  }

  .index__install-option {
    width: 0;
    flex: 1;
  }

  .index__install-gulp {
    margin: 0 calc(var(--horizontal-spacing));
  }

  .index__features {
    flex-direction: row;
  }

  .index__features-left-section, .index__features-right-section {
    width: 0;
    flex: 1;
  }

  .index__features-left-section {
    margin-right: 16px;
  }

  .index__features-right-section {
    margin-left: 16px;
  }

  .index_strategy-list ul li {
    width: 50%;
  }
}
