@import "./variables/colors.css";

#example-log {
  background-color: var(--code-bg-color);
  padding-top: var(--pre-vertical-padding);
  padding-bottom: var(--pre-vertical-padding);
}

#example-log > li {
  margin-top: var(--pre-vertical-padding);
  margin-bottom: var(--pre-vertical-padding);
}

#example-log > li.warn {
  font-weight: bold;
}
