@import "./variables/colors.css";
@import "./variables/dimens.css";
@import "./variables/z-index.css";

@import "./pygments.css";

@import "./components/navigation.css";
@import "./components/primary-header.css";
@import "./components/page-header.css";
@import "./components/callout.css";
@import "./components/footer.css";
@import "./components/standalone-project.css";
@import "./components/toast.css";

html {
  min-height: 100%;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: var(--base-font-size-mobile);
  font-weight: 300;
  color: var(--dark-grey);
}

.content-sizing, .highlight pre, .highlighter-rouge pre {
  max-width: var(--main-content-max-width);
  padding-left: calc(var(--main-content-horizontal-spacing) / 2);
  padding-right: calc(var(--main-content-horizontal-spacing) / 2);
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.content-padding {
  padding-top: calc(var(--main-content-vertical-spacing) / 2);
  padding-bottom: calc(var(--main-content-vertical-spacing) / 2);
}

.content-padding > *:first-child {
  margin-top: 0;
}

.content-padding > *:last-child {
  margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--dark-grey);
  margin: 0;
}

h1 {
  font-size: var(--h1-font-size-mobile);
  letter-spacing: var(--h1-letter-spacing);
  margin-bottom: calc(var(--vertical-spacing) * 1.5);
  font-weight: 700;
}

h2 {
  font-size: var(--h2-font-size-mobile);
  letter-spacing: var(--h2-letter-spacing);
  margin-bottom: calc(var(--p-margin) / 2);
  font-weight: 600;
}

h3 {
  font-size: var(--h3-font-size-mobile);
  letter-spacing: var(--h3-letter-spacing);
  font-weight: 400;
}

h4 {
  font-size: var(--h4-font-size-mobile);
  letter-spacing: var(--h4-letter-spacing);
  font-weight: 600;
}

p {
  margin: 0 0 var(--p-margin) 0;
}

a {
  color: var(--link-color);
}

main a {
  text-decoration: underline;
  font-weight: bold;
}

h1 a {
  text-decoration: none;
  color: inherit;
}

.anchorjs-link  {
  border: none;
}

hr {
  display: block;
  width: 100%;
  height: 1px;
  border: 0;
  background-color: var(--hr-color);
  margin: calc(var(--vertical-spacing) * 9) 0;
  padding: 0;
}

code, pre {
  font-family: 'Cutive Mono', monospace;
}

pre {
  color: var(--code-font-color);
  background-color: var(--code-bg-color);
}

code {
  background-color: var(--light-grey);
}

a code {
  background: none;
}

pre, .content-sizing .highlight pre, .content-sizing .highlighter-rouge pre {
  width: 100%;
  overflow-x: auto;
  padding: var(--pre-vertical-padding) calc(var(--horizontal-spacing) * 2);
  margin: 0 0 var(--p-margin) 0;
  box-sizing: border-box;
  font-size: 18px;
}

pre code {
  background: none;
}

figure {
  margin: 0 0 var(--p-margin) 0;
}

figure pre {
  margin-bottom: 0;
}

.svg-btn {
  background: none;
  border: none;
  padding: calc(var(--vertical-spacing) * 2.5);
}

/** Hide button links until the iframe has loaded **/
.github-buttons {
  display: none;
}

@media (min-width: 700px) {
  body {
    font-size: var(--base-font-size-desktop);
  }

  h1 {
    font-size: var(--h1-font-size-desktop);
  }

  h2 {
    font-size: var(--h2-font-size-desktop);
  }

  .content-sizing, .highlight pre, .highlighter-rouge pre {
    padding-left: var(--main-content-horizontal-spacing);
    padding-right: var(--main-content-horizontal-spacing);
  }

  .content-padding {
    padding-top: var(--main-content-vertical-spacing);
    padding-bottom: var(--main-content-vertical-spacing);
  }
}
