.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #93a2a3;
}

.token.punctuation {
	color: #95a5a6;
}

.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
	color: #74a4d4;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #27ae60;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: #2ecc71;
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: #2fa7f7;
}

.token.function {
	color: #ff6e9f;
}

.token.regex,
.token.important,
.token.variable {
	color: #f39c12;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

.token a {
	color: inherit;
}
