---
layout: page
styles:
 - /styles/examples-index.css
---

<div id="content-and-messages">
  <div id="content">
    {{ content }}
  </div>

  <div id="messages">
    <h2>Messages</h2>
    <ul id="example-log"></ul>
    <p>
      See more details by opening your browser's
      <a href="https://developers.google.com/web/tools/chrome-devtools/progressive-web-apps">Developer Tools</a>.
    </p>
  </div>
</div>

<script src="{{ site.theme_location }}/themes/scripts/example-bootstrap.js"></script>

<h2>Explore the Code</h2>
{% include components/sw-include.html %}
{% include components/js-include.html %}

{% if page.link_to_workbox_sw %}
<h2>We have a higher-level library, too</h2>
<p>
  This example is of small module that solves a specific problem.
  We've bundled up a number of these modules to create the
  <code>workbox-sw</code> library, and there's a
  <a href="/examples/workbox-sw/">full example</a> of how everything works together.
</p>
{% endif %}
