:root {
  --vertical-spacing: 8px;
  --horizontal-spacing: 10px;
  --p-margin: calc(var(--vertical-spacing) * 3);

  --base-font-size-mobile: 18px;
  --base-font-size-desktop: 18px;
  --h1-font-size-mobile: 24px;
  --h1-font-size-desktop: 28px;
  --h1-letter-spacing: 0.7px;
  --h2-font-size-mobile: 20px;
  --h2-font-size-desktop: 24px;
  --h2-letter-spacing: 0.7px;
  --h3-font-size-mobile: 19px;
  --h3-font-size-desktop: 23px;
  --h3-letter-spacing: 0.7px;
  --h4-font-size-mobile: 18px;
  --h4-font-size-desktop: 22px;
  --h4-letter-spacing: 0.7px;
  --h5-font-size-mobile: 16px;
  --h5-font-size-desktop: 18px;
  --h5-letter-spacing: 0.7px;

  --navigation-font-size-mobile: 16px;
  --navigation-font-size-desktop: 16px;
  --nav-drawer-drop-down-text-size-mobile: 14px;
  --callout-h1-font-size-mobile: 34px;
  --callout-h1-font-size-desktop: 42px;

  --main-content-max-width: 1140px;
  --main-content-vertical-spacing: calc(var(--vertical-spacing) * 5);
  --main-content-horizontal-spacing: calc(var(--horizontal-spacing) * 4);

  --pre-vertical-padding: calc(var(--vertical-spacing) * 2);
  --code-caption-font-size: 14px;

  --small-jsdoc-font-size: 14px;
  --jsdoc-param-table-font-size: 16px;

  --primary-header-feature-icon-size: 42px;

  --example-log-font-size: 12px;
}
