<div class="example-project-wb">
  <div class="example-project-wb__left-section">
    <img class="example-project-wb__logo" src="{{ include.img-src }}">
  </div>
  <div class="example-project-wb__right-section">
    <h3> {{ include.name }}</h3>
    <p>
      {{ include.description }}
    </p>
    {% if include.demo %}
      <a href="{{ include.demo }}" class="btn">View Demo</a>
    {% endif %}
    {% if include.source %}
      <a href="{{ include.source }}" class="btn example-project-wb__src-link">View Source</a>
    {% endif %}
  </div>
</div>
